name: Deploy API docs
on:
  push:
    branches:
      - main
      - dev
env:
  AWS_REGION: eu-west-1
  ECR_REGISTRY: 643578112146.dkr.ecr.eu-west-1.amazonaws.com
  ACTIONS_ROLE: arn:aws:iam::643578112146:role/GitHubActionsStack-GitHubActionsRole4F1BBA26-4zweCyfcNyU5
  IMAGE_NAME: crypticorn/api-docs
  EC2_HOST: eu.crypticorn.dev # ${{ github.ref == 'refs/heads/main' && 'eu.crypticorn.com' || 'eu.crypticorn.dev' }}
  EC2_SSH_PRIVATE_KEY: ${secrets.EC2_SSH_PRIVATE_KEY_DEV} #${{ github.ref == 'refs/heads/main' && secrets.EC2_SSH_PRIVATE_KEY || secrets.EC2_SSH_PRIVATE_KEY_DEV }}
  DEPLOY_TAG: dev # ${{ github.ref == 'refs/heads/main' && 'latest' || 'dev' }}
  API_ENV: dev # ${{ github.ref == 'refs/heads/main' && 'prod' || 'dev' }}

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    name: Build and deploy to EC2
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: eu-west-1
          role-to-assume: ${{ env.ACTIONS_ROLE }}
          role-session-name: GitHubActions

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.ECR_REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}
            type=sha

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: VITE_API_ENV=${{ env.API_ENV }}

      - name: SSH into EC2 and execute commands
        uses: appleboy/ssh-action@master
        with:
          host: ${{ env.EC2_HOST }}
          username: ubuntu
          key: ${{ env.EC2_SSH_PRIVATE_KEY }}
          script: |
            aws ecr get-login-password --region eu-west-1 | docker login --username AWS --password-stdin ${{ env.ECR_REGISTRY }}
            docker pull ${{ env.ECR_REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.DEPLOY_TAG }}
            docker stop api-docs || true
            docker rm api-docs || true
            docker run -d --name api-docs -p 8081:80 ${{ env.ECR_REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.DEPLOY_TAG }}
            docker network connect frontnet api-docs